@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    width:99%;
    color: white;
}

nav {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0.5rem 4rem 0 4rem;
    
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 20px;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    transition: all 0.5s ease;
}

nav ul li a:hover::after {
    width: 100%;
}
