@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    width:99%;
    color: white;
}

nav {
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 0.5rem 2rem 0 2rem;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 20px;
    font-weight: 600;
}

nav li {
    text-decoration: none;
    color: white;
}

nav li:hover {
    
}
